* {
    padding: 0;
    margin: 18px;
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    text-align: center;
    width: 800px;
}

h1 {
    font-family: sans-serif;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: hotpink;
    text-transform: uppercase;
}

label {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato';
}

input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}

form {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 500px;
    background: #f3e7e9;
}



input[type=submit]::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

input[type=submit] {
    border: 3px solid;
    border-radius: 2px;

    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 1em auto;
    padding: 1em 4em;
    position: relative;
    text-transform: uppercase;
}

input[type=submit]::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

input[type=reset]::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}


input[type=submit]:hover {
    color: #1A33FF;
}